<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whats something people dont know about you?</title>
</head>
<h2>Whats something people dont know about you?<br/>
    That i'm a deeply closeted gay guy<br/>
    No kidding?<br/>
    I'm not coming out though.<br/>
    Wait a minute. What are you revealing here today?<br/>
    I'm not revealing anything. I'm saying i'm deeply closeted.<br/>
    But that means you're gay.<br/>
    I wouldn't say that. Why would i say that? I said i'm deeply closeted!<br/>
    That means you're very, very gay, but you dont want to come out. You're so closeted that...<br/>
    That i refuse to say i'm gay.<br/>
    Right.<br/>
    Exactly.<br/>
    But... doesn't that mean you're gay?<br/>
    Hey, Hey, Hey, easy buddy!</h2>
<body>

</body>
</html>